/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ExamApp1]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE DATABASE [ExamApp1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamApp1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ExamApp1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamApp1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ExamApp1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamApp1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamApp1]
GO
USE [ExamApp1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectTopicLassId] [int] NOT NULL,
	[TrueAnswer] [int] NOT NULL,
	[WrongAnswer] [int] NOT NULL,
	[NotAnswer] [int] NOT NULL,
	[SubjectClassTopic_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswers]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[TrueAnswer] [nvarchar](max) NULL,
	[SubjectClassTopicId] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[A] [nvarchar](max) NULL,
	[B] [nvarchar](max) NULL,
	[C] [nvarchar](max) NULL,
	[D] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.QuestionAnswers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrueAnswers] [int] NOT NULL,
	[FalseAnswers] [int] NOT NULL,
	[EmptyAnswers] [int] NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[SubjectClassTopicId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectClassTopics]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectClassTopics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](max) NULL,
	[SubjectId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[Topic_Id] [int] NULL,
 CONSTRAINT [PK_dbo.SubjectClassTopics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/16/2021 3:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [Name]) VALUES (1, N'3')
INSERT [dbo].[Classes] ([Id], [Name]) VALUES (2, N'7')
INSERT [dbo].[Classes] ([Id], [Name]) VALUES (3, N'8')
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[QuestionAnswers] ON 

INSERT [dbo].[QuestionAnswers] ([ID], [Text], [TrueAnswer], [SubjectClassTopicId], [Point], [A], [B], [C], [D]) VALUES (1, N'question1', N'B', 1, 2, N'1', N'2', N'3', N'4')
INSERT [dbo].[QuestionAnswers] ([ID], [Text], [TrueAnswer], [SubjectClassTopicId], [Point], [A], [B], [C], [D]) VALUES (2, N'question12', N'B', 1, 2, N'5', N'6', N'7', N'8')
INSERT [dbo].[QuestionAnswers] ([ID], [Text], [TrueAnswer], [SubjectClassTopicId], [Point], [A], [B], [C], [D]) VALUES (3, N'ques3', N'B', 3, 2, N'1', N'2', N'3', N'4')
SET IDENTITY_INSERT [dbo].[QuestionAnswers] OFF
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([Id], [TrueAnswers], [FalseAnswers], [EmptyAnswers], [TotalPoint], [SubjectClassTopicId], [UserId], [SubjectId], [QuestionId]) VALUES (1, 0, 1, 0, 0, 1, 2, 1, 1)
INSERT [dbo].[Results] ([Id], [TrueAnswers], [FalseAnswers], [EmptyAnswers], [TotalPoint], [SubjectClassTopicId], [UserId], [SubjectId], [QuestionId]) VALUES (2, 1, 1, 0, 1, 1, 2, 1, 2)
INSERT [dbo].[Results] ([Id], [TrueAnswers], [FalseAnswers], [EmptyAnswers], [TotalPoint], [SubjectClassTopicId], [UserId], [SubjectId], [QuestionId]) VALUES (3, 0, 1, 0, 0, 1, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Results] OFF
SET IDENTITY_INSERT [dbo].[SubjectClassTopics] ON 

INSERT [dbo].[SubjectClassTopics] ([Id], [Topic], [SubjectId], [ClassId], [Topic_Id]) VALUES (1, N'Maqnit sahesi', 1, 3, NULL)
INSERT [dbo].[SubjectClassTopics] ([Id], [Topic], [SubjectId], [ClassId], [Topic_Id]) VALUES (2, N'elektrik', 1, 2, NULL)
INSERT [dbo].[SubjectClassTopics] ([Id], [Topic], [SubjectId], [ClassId], [Topic_Id]) VALUES (3, N'herfler', 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[SubjectClassTopics] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (1, N'fizika')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (2, N'rus dili')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (3, N'info')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [Name]) VALUES (1, N'Maqnit sahesi')
INSERT [dbo].[Topics] ([Id], [Name]) VALUES (2, N'elektrik')
INSERT [dbo].[Topics] ([Id], [Name]) VALUES (3, N'herfler')
SET IDENTITY_INSERT [dbo].[Topics] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [Name], [Surname]) VALUES (1, N'admin@gmail.com', N'AE23yo2bJyX0sFZ8sLBenNpO84+CP3gcsqG4VFV5hymKPEX7A8ls/itoEWIB6qcufw==', N'admin', N'')
INSERT [dbo].[Users] ([Id], [Email], [Password], [Name], [Surname]) VALUES (2, N'nigar@gmail.com', N'AK0cvEPOw906wpIrSLDrY1mCtqoNHH4rbxygc+lr4VP8cJprwbRTdfPeghi6ekrEDA==', N'Nigar', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_SubjectClassTopic_Id]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectClassTopic_Id] ON [dbo].[Exams]
(
	[SubjectClassTopic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Exams]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectClassTopicId]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectClassTopicId] ON [dbo].[QuestionAnswers]
(
	[SubjectClassTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectClassTopicId]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectClassTopicId] ON [dbo].[Results]
(
	[SubjectClassTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassId]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassId] ON [dbo].[SubjectClassTopics]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectId]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectId] ON [dbo].[SubjectClassTopics]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Topic_Id]    Script Date: 4/16/2021 3:01:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_Topic_Id] ON [dbo].[SubjectClassTopics]
(
	[Topic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuestionAnswers] ADD  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT ((0)) FOR [SubjectClassTopicId]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT ((0)) FOR [SubjectId]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT ((0)) FOR [QuestionId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Surname]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.SubjectClassTopics_SubjectClassTopic_Id] FOREIGN KEY([SubjectClassTopic_Id])
REFERENCES [dbo].[SubjectClassTopics] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.SubjectClassTopics_SubjectClassTopic_Id]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswers_dbo.SubjectClassTopics_SubjectClassTopicId] FOREIGN KEY([SubjectClassTopicId])
REFERENCES [dbo].[SubjectClassTopics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_dbo.QuestionAnswers_dbo.SubjectClassTopics_SubjectClassTopicId]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Results_dbo.SubjectClassTopics_SubjectClassTopicId] FOREIGN KEY([SubjectClassTopicId])
REFERENCES [dbo].[SubjectClassTopics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_dbo.Results_dbo.SubjectClassTopics_SubjectClassTopicId]
GO
ALTER TABLE [dbo].[SubjectClassTopics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectClassTopics] CHECK CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Classes_ClassId]
GO
ALTER TABLE [dbo].[SubjectClassTopics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectClassTopics] CHECK CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectClassTopics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Topics_Topic_Id] FOREIGN KEY([Topic_Id])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[SubjectClassTopics] CHECK CONSTRAINT [FK_dbo.SubjectClassTopics_dbo.Topics_Topic_Id]
GO
USE [master]
GO
